/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.REGLOG {
  width: 50%;
  margin-top: 20px;
}
.Register {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register_users {
  margin-right: 40px;
}
.Register form {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.Register form input {
  border: 1px solid gray;
  border-radius: 2px;
  width: 100%;
  padding: 10px 40px;
}
.Register form button {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}
*:focus,
select:focus,
.custom-select:focus,
button:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* dashboardcss */
*{
  padding: 0;
  margin: 0;
}
.sidebar{
  width: 30%;
  height: 90vh;
  padding: 30px ;
  /* background-color: red; */
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container{
  display: flex;
  gap: 30px;
}

.logo{
  max-width: 5%;
}

/* ul:first-child{
background-color: red;
} */
.dashboardUl{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dashboardLI{
    display: flex;
    gap: 10px;
  background-color: red;
}
.dashboardLI:hover{
  color: blue;
  background-color:powderblue;
  cursor: pointer;
}

.welcomeP{
  text-align: center;
}