*{
    padding: 0;
    margin: 0;
    /* background-color: red; */
    /* overflow-x: hidden; */
}
.side{
    /* width: 15%; */
    /* border-right: 2px solid black; */
    /* background-color: red; */
    /* overflow-x: hidden; */

} 
.sidebars{
    /* background-color: lightblue; */
}
.container{
    height: 100vh;
    background-color:lightblue;
    overflow: hidden;
}
 .courseForm{
    /* background-color: lightblue; */
    /* overflow-x: hidden; */
    position: relative;
    top: 30px;
    height: 1vh;
    /* background-color:white;  */
    width:75%;
    padding:16px 10px;
    /* background-color: red; */
} 
.content{
    /* background-color: red; */

    height: 70vh;
    position: relative;
    top: 35px;
    /* overflow: hidden; */
}
.label{
    /* background-color: red; */
  position: relative;
  top: 8px;
}

.reg{
    position: relative;
    top: 30px;
}

.select{
    position: relative;
    top: 8px;
    width: 70%;
    background-color: #6066a5;
color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}
.load{
    color: white;
}
hr{
    position: relative;
    /* width: 12%; */
    /* right: 10px; */
    /* left: 30px; */
}