*{
    /* background-color: lightblue; */

}
.sidebars{
    background-color: #B0C4DE;
    display: flex;
    height: 100vh;
    overflow: hidden;
    /* background-colo
    r: red; */
}
.bars{
    display: flex;
    /* gap: 300px; */
    /* width: 16%; */
    
    background-color: white;
    /* padding: 10px; */
    /* background-color: #3c4493; */
    /* background-color: red; */
    /* gap: 0; */
    /* align-items: center; */
}
/* .side{
    width: 50%;
    background-color: red;
} */
/* .sider{
    width: 10%;
    background-color: red;
}
 */
h3{
    font-weight: 600;
}
/* course registration css */
.container{
    /* float: right; */
    /* display: flex; */
    /* justify-content: space-between; */
}
/* .courseForm{
    background-color: blue; 
} */
    /* width: 10%;
}

/* welcome page css */

.welcomeP{
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    width: 70vw;
    font-size: 20px;
    /* background-color: lightblue; */
}

hr{
    border: 1px solid black;
    position: relative;
    top: 60px;
    left: 16px;
    width: 84%;
    /* padding: 0 10px 0 10px; */
    /* text-align: center; */
  /* border-radius: 5px; */
}