.sides{
    width: 30%;
    height: 100vh;
    background: blue;
    border-right: 2px solid black;
}

.sidelists{
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    gap: 40px;
}

.list{
    display: flex;
    gap: 30px;
    color: black;
    padding: 15px;
    border-radius: 10px;
}


.sidelists .active{
    background:lightblue;
    color: blue;
}

.list img{
    width: 20px;
}

/* .container{
    background-color: blue;
    width: 100%;
} */

.contents{
    /* width: 30%; */
    padding: 10px 0 0 20px;
    /* background-color: wheat; */
}

/* courses css */
.courseLink{
    color: white;
}
.courseBtn {
    background-color: blue;
}

.courseLink:hover{
    color: black;
}